numpy==1.26.4
pandas==1.4.3
torch
scikit-learn==1.3.2
matplotlib==3.5.3
seaborn==0.12.1
msprime==1.2.0
demes==0.2.2
cyvcf2
pysam
scikit-allel
haptools
Pgenlib
tskit
svgwrite
sympy
mpmath
networkx
newick
